@page "/"  


<link href="~/css/paginaHome.css" rel="stylesheet" />
<PageTitle>Home</PageTitle>  


<AuthorizeView>
    <Authorized>
        <div class="centered-container">
            <p class="authorized-title">Usuario autorizado</p>
            <p class="subtext">Bienvenido @context.User.Identity?.Name</p>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="centered-container">
            <p class="not-authorized-title">Usuario no autorizado</p>
            <p class="subtext">Por favor, loguearse para utilizar las funciones</p>
        </div>
    </NotAuthorized>
</AuthorizeView>

